@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

.containerNativo{
    background-image: url('../img/background.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.containerElemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    min-height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    color: black;
    margin: 40px
}

.imagemComTitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.imagemComTitulo h1{
    font-size: 30px;
    margin: 20px;
}

.imagemComTitulo img{
    width: 150px;
}

.preenchimento{
    display: flex;
    flex-direction: row;
    margin: 20px;

}

.preenchimento input{
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.preenchimento button{
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
}

.itensArray{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    font-size: 15px;
    margin: 10px;
}

.itensArray p{
    font-size: 13px;
    word-break:break-all;
    width: 80%;
}

.itensArray img{
    width: 15px;
    margin: 5px;
}

/* Responsividade */

@media (max-width:550px){
    .containerElemento{
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }
}

@media (max-width:280px){
    .containerElemento{
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
    }
}