.containerNativo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    margin: 0 auto;
    background-color: red;
}

.containerElemento{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20vw;
    background-color: blue;
    color: white;
}
